/* @CHARSET "ISO-8859-1"; */

body {
	
}

#navlist {
	list-style-type: none;
	margin: 0;
	padding: 0;
	/* overflow: hidden; */
}

#main-content {
	margin: auto;
	width: 1000px;
}

#content {
	font-size: xx-large;
	font-weight: 600;
	background-color: black;
	color: white;
	width: 100%;
}

/*
.navlist li {
	float: right;
	display: block;
  	text-align: center;
  	padding: 0 10px 0 0;
  	margin: 0;
  	text-decoration: none;
  	font-size: 1em;
}


.inline-input {
	height: 25px;
	font-size: 1.5em;
	font-weight: 500;
}
*/
